.App {
  text-align: center;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 5vh 0vh;
}

td.date {
  text-align: center;
}

td.weekday {
  text-align: left;
}

td.childfree {
  color: rgb(80, 255, 80);
}

td.withchild {
  color: rgb(255, 80, 80);
}

td.eval.date {
  border: 1px solid white;
}

td.today.date {
  font-weight: bold;
}

table td {
  padding: 0px 5px;
}

input {
  max-width: 10em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: calc(10px + 1vmin);
}
